.contactList {
  padding: 0;
  width: 380px;
}

.contactList__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #57d0e6;
}

.contactList__text {
  font-size: 1.1rem;
}

.contactList__btn {
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 5px;
  width: 75px;
  font-size: 0.8rem;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.contactList__btn:hover,
.contactList__btn:focus {
  color: #fff;
  outline: 0;
  cursor: pointer;
  background-color: #57d0e6;
}
